body 
{
    margin: 0;
    background-color: #0094ff;
    white-space: nowrap;
}

ul {
    margin: 0px;
}

.chart-color {
    color: rgba(255,216,0,0.8);
}

.chart-grid-color {
    color: rgba(255,216,0,0.2);
}

.chart-font-family {
    font-family: Verdana, Geneva, sans-serif !important;
}