body {
    margin: 0;    
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
    padding-left: 0em;
}

ul li {
    color: #6D5F5D;
}

.critical {
    color: #422E21;    
    background-color: #FCF5F2;    
    font-size: 1.1em;
}

.time {
    float: left;
    padding-right: 0.5em;
}