body {
    margin: 0;
    background-color: #343434;    
}

ul {
    list-style-type: none;
    padding-left: 0em;
    margin: 0px;
}

ul li {
    color: #AAAAAA;
}

.critical {
    /*color: #FFCE28; yellow*/
    color: #DDDDDD;
    /*background-color: #451717;*/
    font-size: 1.1em;
}

.time {
    float: left;
    padding-right: 0.5em;
}