<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- theme reference -->
    <link id="theme" href="/css/themes/default.css" rel="stylesheet" />
    
    <script src="/Scripts/mqttws31.js"></script> <!-- to support MQTT protocol -->
    <script src="/Scripts/jquery-2.2.1.min.js"></script>
    <script src="/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs"></script>

    <script src="/Scripts/moment.min.js"></script>
    <script src="/Scripts/Chart.js"></script>
        
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/theme.js"></script>
    <script src="/Scripts/datetime.js"></script>
    <script src="/Scripts/View/commoncharts.js"></script>
    <script src="/Scripts/View/datamanager.js"></script>
    <script src="/Scripts/View/chartmanager.js"></script>

    <script src="/Scripts/Communication/communicationfactory.js"></script>
    <script src="/Scripts/Communication/mqttConnection.js"></script>
    <script src="/Scripts/Communication/signalRConnection.js"></script>

    <script type="text/javascript">
    $(function () {
        var msg =
                    "<p>I need parameters to work! </p>" +
                    "Valid parameters:<br />" +
                    " - name (required)<br />" +
                    " - width (0-100 percentage value) <br />" +
                    " - height (0-100 percentage value) <br />" +
                    " - Chart settings: <br />" +
                    " &nbsp;&nbsp;- timeUnit (default: minutes) <br />" +
                    " &nbsp;&nbsp;- xAxisLabel <br />" +
                    " &nbsp;&nbsp;- yAxisLabel <br />" +
                    " &nbsp;&nbsp;- xMaxTicksLimit (default: 10) <br />" +
                    " &nbsp;&nbsp;- yMaxTicksLimit (default: 10) <br />" +
                    " &nbsp;&nbsp;- steppedLine (default: false, valid values: false, true) <br />" +
                    " &nbsp;&nbsp;- fill (default: false, valid values: false, true) <br />" +
                    " &nbsp;&nbsp;- beginAtZero (default: false, valid values: false, true) <br />" +
                    " &nbsp;&nbsp;- dataMaxNumberOfDataPoints (default: 100)  <br />" +
                    " &nbsp;&nbsp;- dataSaveWindowSeconds  (default: 36000 seconds) <br />" +
                    " - topic (separate with , for multiple topics. Valid wildcards for subscriptions is * and # (use %23 for #)) <br />" +
                    " - theme (name of theme on server. Avalible themes: 'c64', 'light', 'lightcream', 'night', 'nightcream', 'sand', 'terminal') <br />" +
                    " - size (base font-size) <br />" +                    
                    "<p>Example: <br />" +
                    "linechart.html?name=xyz&topic=topic1.*,topic2.%23&theme=night</p>";
        
        var params = function () {
            var obj =
            {
                dataSettings: {
                    dataMaxNumberOfDataPoints: getQueryParam("dataMaxNumberOfDataPoints", 100), //chart data
                    dataSaveWindowSeconds: getQueryParam("dataSaveWindowSeconds", 36000), //chart data
                    timeStampColumn: getQueryParam("timeStampColumn", "Timestamp"),
                    valueColumn: getQueryParam("valueColumn", "Value"),
                },
                size: {
                    width: getQueryParam("width"), //chart
                    height: getQueryParam("height") //chart
                },
                communication: {
                    topic: getQueryParam("topic", "#"), //connection
                    name: getQueryParam("name", "NotDefined"), //connection
                    protocol: getQueryParam("protocol", "signalr"),
                    brokerurl: getQueryParam("brokerurl", "localhost"),
                    port: getQueryParam("port", 1883)
                },                
                chart: {
                    steppedLine: getQueryParam("steppedLine", false) != false ? true : false, //some bug in chartjs should support before and after getQueryParam("steppedLine", false)  (test in newer versions of chartjs)
                    fill: getQueryParam("fill", false) != false ? true : false,
                    timeUnit: getQueryParam("timeUnit", "minute"), //chart
                    xAxisLabel: getQueryParam("xAxisLabel", ""), //chart
                    yAxisLabel: getQueryParam("yAxisLabel", ""), //chart
                    xMaxTicksLimit: getQueryParam("xMaxTicksLimit", 10), //chart
                    yMaxTicksLimit: getQueryParam("yMaxTicksLimit", 10), //chart                
                    maintainAspectRatio: (getQueryParam("width", null) == null && getQueryParam("height", null) == null) ? true : false,
                    beginAtZero: getQueryParam("fill", false) != false ? true : false
                },
                fontSize: getQueryParam("size", 16), //chart, label
                theme: getQueryParam("theme") //layout
            };
             
            return obj;
        }();               
                
        function getChartConfig()
        {
            var gridcolor = getStyleRuleValue('color', '.chart-grid-color');
            var color = getStyleRuleValue('color', '.chart-color');
            var fontFamily = getStyleRuleValue('font-family', '.chart-font-family');

            var config = {
                type: 'line',
                data: {
                    labels: datapointManager.getTimestampArray(),
                    datasets: [{
                        data: datapointManager.getValueArray(),
                        steppedLine: params.chart.steppedLine,
                        fill: params.chart.fill,
                        lineTension: 0,
                        backgroundColor: color,
                        borderColor: color                     
                    }]
                },
                options: {
                    //responsive: true,
                    maintainAspectRatio: params.chart.maintainAspectRatio, //false
                    scales: {
                        xAxes: [{
                            type: "time",
                            distribution: "linear", //seems to be a bug with "series" so no config param for that one for now
                            gridLines: {
                                color: gridcolor
                            },
                            ticks: {
                                fontSize: params.fontSize,
                                fontColor: color,
                                fontFamily: fontFamily,
                                autoSkip: true,
                                maxTicksLimit: params.chart.xMaxTicksLimit
                            },
                            time: {
                                //format: "HH:mm",
                                unit: params.chart.timeUnit,
                                tooltipFormat: 'HH:mm:ss.SS',
                                displayFormats: {
                                    'minute': 'HH:mm',
                                    'hour': 'HH:mm'
                                }
                            },
                            scaleLabel: {
                                display: true,
                                labelString: params.chart.xAxisLabel
                            }
                        }],
                        yAxes: [{
                            gridLines: {
                                color: gridcolor
                            },
                            ticks: {
                                fontSize: params.fontSize,
                                fontColor: color,
                                fontFamily: fontFamily,
                                maxTicksLimit: params.chart.yMaxTicksLimit,
                                beginAtZero: params.chart.beginAtZero,
                                stepSize: 1
                            },
                            scaleLabel: {
                                display: true,
                                labelString: params.chart.yAxisLabel
                            }
                        }]
                    }
                }
            };

            return config;
        }

        $(document).ready(function () {            
            //Add a message log
            if (!params.communication.name) {
                $("#message").html(msg);
            } else {
                var connection = communicationFactory.init(params.communication.protocol);
                connection.broker.addSubscriptions(params.communication.topic);
                chartManager.init("chart", "chart-container", "serverStatus", datapointManager, connection, params, getChartConfig);
            }
        });
    });

    </script>

</head>
<body id="body" style="margin: 0;">
    <div id="serverStatus" class="error">
    </div>

    <div id="message">
    </div>

    <div id="chart-container" style="position: relative;"> <!--  height:100vh; width:100vw -->
        <canvas id="chart"></canvas> <!-- width="800" height="400" -->
    </div>
</body>
</html>
