<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- theme reference -->
    <link id="theme" href="/css/themes/default.css" rel="stylesheet" />

    <!--
        
        - Refactor code move common stuff into js
        - add some parameter         
        - Show area?
        -

        - Possible to show area between values
    -->


    <script src="/Scripts/jquery-2.2.1.min.js"></script>
    <script src="/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs"></script>

    <script src="/Scripts/moment.min.js"></script>
    <script src="/Scripts/Chart.js"></script>
    

    <script src="/Scripts/messagerouterconnection.js"></script>
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/theme.js"></script>
    <script src="/Scripts/datetime.js"></script>
    <script src="/Scripts/View/commoncharts.js"></script>
    <script src="/Scripts/View/datamanager.js"></script>
    <script src="/Scripts/View/chartmanager.js"></script>

    <script src="/Scripts/Communication/communicationfactory.js"></script>
    <script src="/Scripts/Communication/mqttConnection.js"></script>
    <script src="/Scripts/Communication/signalRConnection.js"></script>

    <script type="text/javascript">
    $(function () {
        var msg =
                    "<p>I need parameters to work! </p>" +
                    "Valid parameters:<br />" +
                    " - name <br />" +
                    " - width <br />" +
                    " - height <br />" +
                    " - chartTimeUnit, chartXAxisLabel, chartYAxisLabel, chartXMaxTicksLimit, chartYMaxTicksLimit <br />" +
                    " - dataMaxNumberOfDataPoints,  <br />" +
                    " - topic (separate with , for multiple topics. Valid wildcards for subscriptions is * and # (use %23 for #)) <br />" +
                    " - theme (name of theme on server. Avalible themes: 'c64', 'light', 'lightcream', 'night', 'nightcream', 'sand', 'terminal') <br />" +
                    " - size (base font-size) <br />" +                    
                    "<p>Example: <br />" +
                    "linechart.html?name=xyz&topic=topic1.*,topic2.%23&theme=night</p>";

        
        var params = function () {
            var obj =
            {
                fontSize: getQueryParam("size", 16), //chart, label
                width: getQueryParam("width", 800), //chart
                height: getQueryParam("height", 400), //chart
                chartTimeUnit: getQueryParam("chartTimeUnit", "minute"), //chart
                chartXAxisLabel: getQueryParam("chartXAxisLabel", ""), //chart
                chartYAxisLabel: getQueryParam("chartYAxisLabel", ""), //chart
                chartXMaxTicksLimit: getQueryParam("chartXMaxTicksLimit", 10), //chart
                chartYMaxTicksLimit: getQueryParam("chartYMaxTicksLimit", 10), //chart
                dataMaxNumberOfDataPoints: getQueryParam("dataMaxNumberOfDataPoints", 100), //chart data
                dataSaveWindowSeconds: getQueryParam("dataSaveWindowSeconds", 36000), //chart data
                topic: getQueryParam("topic", "#"), //connection
                name: getQueryParam("name"), //connection
                theme: getQueryParam("theme") //layout
            };
             
            return obj;
        }();

        //chart defaults
        Chart.defaults.global.legend.display = false;
        Chart.defaults.global.defaultFontStyle = "bold";

        /* declaration of calback methods */
        var messageReceived = function (message) {
            console.log(message);
        };
        var communicationChanged = function (message) {
            console.log(message);
        };
        var communicationError = function (message) {
            console.log(message);
        };


        $(document).ready(function () {
            var connection = communicationFactory.init("signalr");

            //Register for events
            connection.broker.onMessage = messageReceived;
            connection.broker.onStatusChange = communicationChanged;
            connection.broker.onError = communicationError;

            connection.broker.ping();

            //start to listen for events
            connection.broker.connect();


            //refactor to make server technology agnostic. It can either be signalr-hub or mqtt
            var msghub = startSignalrConnection(msg);

            //Set size of chart
            $("#chart").attr("width", params.width);
            $("#chart").attr("height", params.height);

            //init datapointManager
            datapointManager.init(params.dataMaxNumberOfDataPoints, params.dataSaveWindowSeconds);

            //init chartManager
            chartManager.init("chart");

            //register for event
            /*msghub.client.resetView = function (viewType) {
                if (viewType == "all" || viewType == "chart") {
                    resetView();
                }
            };*/

            msghub.client.newMessage = function (json) {
                var msg = jQuery.parseJSON(json);                
                var dataPoint = jQuery.parseJSON(msg.JsonObject);
                                
                datapointManager.add(dataPoint);
                
                var gridcolor = getStyleRuleValue('color', '.chart-grid-color');
                var color = getStyleRuleValue('color', '.chart-color');
                var fontFamily = getStyleRuleValue('font-family', '.chart-font-family');
                
                var config = {
                    type: 'line',
                    data: {
                        labels: datapointManager.getTimestampArray(),
                        datasets: [{
                            //label: "Set1",
                            backgroundColor: color,
                            borderColor: color,
                            fill: false,
                            data: datapointManager.getValueArray(),
                        }]
                    },
                    options: {                        
                        scales: {
                            xAxes: [{
                                type: "time",
                                distribution: "linear", //seems to be a bug with "series" so no config param for that one for now
                                gridLines: {
                                    color: gridcolor
                                },
                                ticks: {
                                    fontSize: params.fontSize,
                                    fontColor: color,
                                    fontFamily: fontFamily,
                                    autoSkip: true,
                                    maxTicksLimit: params.chartXMaxTicksLimit
                                },
                                time: {
                                    //format: "HH:mm",
                                    unit: params.chartTimeUnit,                                    
                                    tooltipFormat: 'HH:mm:ss.SS',
                                    displayFormats: {
                                        'minute': 'HH:mm',
                                        'hour': 'HH:mm'
                                    },
                                },
                                scaleLabel: {
                                    display: true,                                    
                                    labelString: params.chartXAxisLabel
                                }
                            }, ],
                            yAxes: [{
                                gridLines: {
                                    color: gridcolor
                                },
                                ticks: {
                                    fontSize: params.fontSize,
                                    fontColor: color,
                                    fontFamily: fontFamily,
                                    maxTicksLimit: params.chartYMaxTicksLimit,
                                    beginAtZero: true
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: params.chartYAxisLabel
                                }
                            }]
                        },
                    }
                };
            
                chartManager.draw(config);
            };
        });
    });

    </script>

</head>
<body id="body" style="margin: 0;">
    <div id="serverStatus" class="error">
    </div>

    <div id="message">
    </div>

    <canvas id="chart" width="800" height="400"></canvas>


</body>
</html>
